@charset 'utf-8';

@import 'reset.scss';

$width: 1180px;
$heightHeaderTop: 100px;
$heightVisualBg: 70vh;
$primaryColor: #1455a9;
$subColor1: #e6eff4;
$subColor2: #3d4959;


.inner {
    width: $width;
    position: relative;
    margin: 0 auto;
}

header#header {
    width: 100%; height: $heightVisualBg;
    .visual {
        width: 100%; height: $heightVisualBg;

        position: absolute;
        top: 0; left: 0; z-index: -1;
        display: block;
        background: url("../img/scott-graham-5fNmWej4tAA-unsplash.jpg") no-repeat center/cover;
        -webkit-filter: brightness(.4);
        -moz-filter: brightness(.4);
        -o-filter: brightness(.4);
        -ms-filter: brightness(.4);
        filter: brightness(.4);
    }
    .top {
        width: 100%; height: $heightHeaderTop;
        background-color: transparent;
        position: relative;

        >h1 {
            font: bold 30px/1 "Malgun gothic"; color: #fff;

            height: 35px;
            position: absolute; top: 50%; margin-top: calc(35px / -2);
            left: 0;
        }
        >.wrap {
            height: 35px;
            position: absolute; top: 50%; margin-top: calc(35px / -2);
            right: 0;

            &::after {
                content: ""; display: block; clear: both;
            }

            >.item {
                float: left;
                margin-left: 10px;
                width: 220px;

                &::after {
                    content: ""; display: block; clear: both;
                }

                >.icon {
                    float: left;

                    background-color: #fff;
                    width: 40px; height: 40px;
                    border-radius: 50%;
                    >i {
                        text-align: center;
                        width: 40px; height: 40px;
                        color: #000; font-size: 20px;
                        line-height: 40px;
                    }
                }
                >h2 {
                    float: left;

                    padding: 0 10px; box-sizing: border-box;
                    width: 150px; height: 30px;
                    font: normal 14px/1.2 "Malgun gothic"; color: #fff; letter-spacing: -1px;
                    word-break: break-all;
                }
            }
            >.item:nth-of-type(2) {
                >.icon {
                    background-color: $primaryColor;
                    >i {
                        color: #fff;
                    }
                }
            }
        }
    }
    nav {
        margin-top: 20px;
        width: 100%; height: 60px;
        background-color: $primaryColor;
        border-radius: 5px;

        &::after {
            content: ""; display: block; clear: both;
        }
        >div {
            height: 35px;
            position: relative; top: 50%; margin-top: calc(35px / -2);
        }
        >div:not(:last-child) {
            float: left;
            padding: 10px 15px; box-sizing: border-box;
            font: normal 14px/1 "Malgun gothic"; color: #fff;
            margin-left: 20px;
        }
        >div:last-child {
            float: right; margin-right: 20px;

            >.icon {
                width: 30px; height: 30px;
                background-color: #fff;
                border-radius: 50%;
                text-align: center;
                >i {
                    line-height: 30px; 
                    font-size: 14px; color: #000;
                }
            }
        }
    }
    .txt {
        margin-top: 8vh;
        >h1 {
            font: normal 20px/1.1 "Malgun gothic"; color: #fff;
        }
        >h2 {
            font: bold 30px/1.1 "Malgun gothic"; color: #fff;
        }
        >p {
            margin-top: 15px;
            width: 30vw;
            font: normal 14px/1.1 "Malgun gothic"; color: #fff;
        }
        >a {
            margin-top: 40px;
            display: inline-block;
            background-color: orange;
            padding: 10px 15px; box-sizing: border-box;
            border-radius: 3px;
            font: normal 14px/1 "Malgun gothic"; color: #fff;
        }
    }
}
section#detail1 {
    width: 100%;
    position: relative; top: -70px;

    &::after {
        content: ""; display: block; clear: both;
    }

    $detailArticleWidth : calc( ( 100% - 36px ) / 3 );
    article {
        float: left; 
        width: $detailArticleWidth;
        margin-right: 15px; margin-top: 20px;
        background-color: #fff;
        border: 1px solid #ccc; box-sizing: border-box;
        padding: 25px 15px; box-sizing: border-box;
        border-radius: 5px;

        &:nth-of-type(3n) {
            margin-right: 0;
        }

        &::after {
            content: ""; display: block; clear: both;
        }

        >.icon {
            float: left;
            width: 40px; height: 40px;
            text-align: center;
            >i {
                line-height: 40px; 
                font-size: 25px; color: #aaa;
            }
        }
        >.wrap {
            float: right;
            width: calc( 100% - 40px);

            padding: 10px 20px; box-sizing: border-box;
            >h1 {
                font: bold 16px/1 "Malgun gothic"; color: #000;

            }
            >p {
                width: 100%;
                margin-top: 20px;
                font: normal 14px/1 "Malgun gothic"; color: #000;
            }
        }
    }
    article:nth-of-type(5) {
        background-color: $primaryColor;
        box-shadow: 5px 5px 5px #ccc;
        position: relative;
        overflow: hidden;
        >.icon {
            >i {
                color: #fff;
            }
        }
        >.wrap {
            >h1 {
                color: #fff;
            }
            >p {
                color: #fff;
            }
        }
        >div.point {
            position: absolute; right: 0; top: 0; 
            width: 0; height: 0;
            border-width: 0 0 50px 50px;
            border-style: solid;
            border-color: transparent transparent orange;
            transform: rotate(-90deg);
        }
    }
}

section#detail2 {
    width: 100%; height: 250px;
    background-color: $subColor1;
    position: relative;

    &::after {
        content: ""; display: block; clear: both;
    }

    article {
        float: left; 
        width: 50%;
        height: 110px;
        position: relative; top: 40px;

        background-color: transparent;
        padding: 25px 15px; box-sizing: border-box;
        &::after {
            content: ""; display: block; clear: both;
        }

        >.icon {
            float: left;
            width: 50px; height: 50px;
            text-align: center;
            >i {
                line-height: 50px; 
                font-size: 50px; color: $subColor2;
            }
        }
        >.wrap {
            float: right;
            width: calc( 100% - 50px );
            padding-left: 15px; box-sizing: border-box;
            >h1 {
                font: bold 22px/1 "Malgun gothic"; color: #000;
            }
            >p {
                margin-top: 10px;
                font: normal 14px/1 "Malgun gothic"; color: #000;
            }
            >a {
                margin-top: 20px; 
                display: inline-block;
                background-color: #fff;
                padding: 10px 15px; box-sizing: border-box;
                border-radius: 3px;
                font: normal 14px/1 "Malgun gothic"; color: #000;
            }
            >a:nth-of-type(1) {
                margin-right: 10px;
            }
            >a:nth-of-type(2) {
                background-color: $primaryColor;
                color: #fff;
            }
        }
    }
}
section#inquiry {
    width: 100%; height: 80px;
    background-color: $subColor2;

    form#form {
        position: absolute; top: 20px;
        height: 30px;

        >fieldset {
            border: none; 
            position: relative;
            >input[type="text"] {
                height: 30px;
                border: none;
                border-radius: 3px;
                font: normal 14px/1 "Malgun gothic"; color: #000;
                padding-left: 15px; box-sizing: border-box;
            }
            >select {
                width: 100px;
                height: 32px;
                border: none;
                border-radius: 3px;
                font: normal 12px/1 "Malgun gothic"; color: #000;
                padding-left: 10px;
            }
            >input[type="checkbox"] {
                margin-left: 15px;
                background-color: pink;
                width: 17px; height: 17px;
                position: absolute; top: 0; bottom: 0; margin: auto 0;
                margin-left: 5px;
            }
            >label {
                font: normal 12px/1 "Malgun gothic"; color: #fff;
                position: relative; top: 0; bottom: 0; margin: auto 0;
                margin-left: 30px;
            }
            >input[type="button"] {
                margin-left: 15px;
                height: 40px;
                background-color: #222;
                border: none;
                border-radius: 3px;
                font: normal 12px/1 "Malgun gothic"; color: #fff;
                padding: 0 20px; box-sizing: border-box;
            }

        }
    }
}
section#news {

}
section#cooperation {
    width: 100%; height: 50px;

}
section#aboutus {
    width: 100%; height: 300px;
    background-color: $subColor1;
}
footer#footer {
    width: 100%; height: 80px;
    background-color: $subColor2;

    &::after {
        content: ""; display: block; clear: both;
    }

    div.copyright {
        float: left; position: relative; top: 20px;
        padding: 10px 15px; box-sizing: border-box;
        font: normal 12px/1 "Malgun gothic"; color: #fff;
    }
    ul.utils {
        float: right; position: relative; top: 20px;

        &::after {
            content: ""; display: block; clear: both;
        }
        >li {
            float: left;
            padding: 0 15px; box-sizing: border-box;
            >a {
                font: normal 12px/1 "Malgun gothic"; color: #fff;
            }
        }
    }
}